/* Container that controls alert position */
.alert-container {
  position: auto;
  right: 20px;
  bottom: 20px;
  z-index: 1055;
  width: 430px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

/* Optional animation for alerts */
.alert {
  animation: slideUpFade 0.35s ease-out;
    text-align: center;
    font-size: 18px;
  padding: 20px 28px;
  font-weight: 700;
}

@keyframes slideUpFade {
  from {
    transform: translateY(30px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@media (max-width: 576px) {
  .alert {
    font-size: 15px;
    padding: 14px 18px;
  }
}